.Button {
  display: flex;
  align-items: center;

  padding: 2px 10px;

  border-radius: 4px;

  cursor: pointer;
  outline: none;
  box-shadow: 0 0 5px rgb(198, 198, 198);
  border: none;

  font-size: var(--font-size-primary);

  transition: color 0.2s ease-out;

  &:hover {
    color: rgb(61, 174, 222);

    .Button-Icon {
      color: rgb(61, 174, 222);
    }
  }

  &-Icon {
    margin-left: 5px;
    font-size: var(--font-size-primary);
  }

  &_disabled {
    cursor: initial;
    pointer-events: none;
  }
}