.Button {
  display: flex;
  align-items: center;

  padding: 0;

  border-radius: 4px;

  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;

  font-size: 14px;
  font-weight: 600;

  transition: color 0.2s ease-out;

  &:hover {
    color: rgb(61, 174, 222);
  }
}
