.Countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  background: linear-gradient(hsl(var(--primaryHue), 10%, 10%), hsl(var(--primaryHue), 10%, 5%));

  &-Title {
    font-size: 24px;

    margin-bottom: 10px;

    color: hsl(var(--primaryHue), 10%, 90%);
  }

  &-Counter {
    font-size: 32px;

    color: hsl(var(--primaryHue), 80%, 40%);
  }

  &-Divider {
    height: 1px;
    width: 80%;
    background: linear-gradient(
      to left,
      hsla(var(--primaryHue), 5%, 50%, 0.05) 0%,
      hsla(var(--primaryHue), 81%, 94%, 0.2) 50%,
      hsla(var(--primaryHue), 5%, 50%, 0.05) 100%
    );
  }
}
