@import '../../styles/color-transition.scss';

.Countdown {
  @extend .color-transition;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  background: rgb(226, 226, 226);

  &-Title {
    font-size: 24px;

    color: rgb(19, 19, 19);
  }

  &-Counter {
    @extend .color-transition;
    font-size: 32px;

    color: rgb(216, 56, 56);
  }

  &-Divider {
    margin: 15px 0;

    height: 1px;
    width: 80%;

    background: linear-gradient(
      to left,
      hsla(var(--primaryHue), 5%, 50%, 0.05) 0%,
      hsla(var(--primaryHue), 81%, 5%, 0.2) 50%,
      hsla(var(--primaryHue), 5%, 50%, 0.05) 100%
    );
  }
}
