.Counter {
    width: 100px;
    margin-right: 20px;
    padding: 10px;

    background: white;
    border-radius: 10px;

    &-Unit {
        font-size: 13px;
    }

    &-Value {
        font-size: 56px;
    }

    &:last-child {
        margin-right: 0;
    }
}