.Counter {
    width: 100px;
    margin-right: 20px;
    padding: 10px;

    background: var(--background-light);
    box-shadow: 0 0 7px rgb(220, 220, 220);
    border-radius: 10px;
    color: var(--text-primary-color);

    &-Unit {
        font-size: var(--font-size-secondary);
    }

    &-Value {
        font-size: 56px;
    }

    &:last-child {
        margin-right: 0;
    }
}