.Ads {
    position: fixed;
    height: 100%;
    width: 100%;

    top: 0;
    left: 0;

    &-Item {
        position: absolute;

        transform: translateX(-50%);
        left: 50%;

        width: 80%;
        height: 100px;

        &_top {
            top: 64px;
        }

        &_bottom {
            bottom: 64px;
        }
    }
}
