#root {
    --background-light: rgb(252, 252, 252);

    --text-color-primary: rgb(34, 34, 34);
    --text-color-secondary: rgb(116, 116, 116);

    --font-size-primary: 14px;
    --font-size-secondary: 13px;
}