.CounterList {
    &-Counter {
        position: relative;

        padding: 10px;
        margin-bottom: 10px;

        cursor: pointer;
        box-shadow: 0 0 5px rgb(213, 213, 213);
        border-radius: 4px;
        transition: background-color .2s ease-out;

        will-change: background-color;

        &_active,
        &:hover {
            background-color: rgb(240, 240, 240);
        }

        &:hover {
            .CounterList-RemoveButton {
                opacity: 1;
            }
        }
    }

    &-Title {
        font-size: 18px;

        color: var(--text-color-primary);

        margin-bottom: 5px;
    }

    &-Date {
        color: var(--text-color-secondary);

        font-size: var(--font-size-secondary);
    }

    &-RemoveButton {
        position: absolute;
        top: 5px;
        right: 10px;

        opacity: 0;
        transition: opacity .2s ease-out;

        will-change: opacity;

        @media (max-width: 500px) {
            opacity: 1;
        }
    }
}